<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <title>Pay My Buddy - Connexion</title>
    </head>
    <body class="body-no-connected">
        <div class="container">
            <div class="title-login">
                <p class="title-login-text">Pay My Buddy</p>
            </div>
            <div>
                <input class="input-connexion" type="email" id="email" pattern="Mail" placeholder="Mail" required />
                <input class="input-connexion" type="password" id="password" pattern="Mot de passe" placeholder="Mot de passe" required />
            </div>
            <button class="connexion-btn">Se connecter</button>
        </div>
    </body>
</html>