<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pay My Buddy - Inscription</title>
    </head>
    <body>
        <div class="container">
            <div>Pay My Buddy</div>
            <div>
                <input type="username" id="username" pattern="username" size="30" required />
                <input type="email" id="email" pattern="Mail" size="30" required />
                <input type="password" id="password" pattern="Mot de passe" size="30" required />
            </div>
            <button>Se connecter</button>
        </div>
    </body>
</html>