<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <title>Pay My Buddy - Inscription</title>
    </head>
    <body class="body-no-connected">
        <div class="container">
            <div class="title-login">
                <p class="title-login-text">Pay My Buddy</p>
            </div>
            <form th:action="@{/auth/register}" method="post">
                <input class="input-connexion input-username" type="text" name="username" placeholder="Username" required />
                <input class="input-connexion" type="email" name="email" placeholder="Mail" required />
                <input class="input-connexion" type="password" name="password" placeholder="Mot de passe" required />
                <button class="connexion-btn" type="submit">S'inscrire</button>
            </form>           
        </div>
    </body>
</html>