<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <title>Pay My Buddy - Relation</title>
    </head>
    <body class="body-connected">
        <topbar class="topbar">
            <h1> Pay My Buddy</h1>
            <span class="topbar-links">
                <a th:href="@{/transfert}">Transférer</a>
                <a th:href="@{/profile}">Profil</a>
                <a th:href="@{/relation}">Ajouter relation</a>
                <a th:href="@{/login}">Se déconnecter</a>
            </span>            
        </topbar>
        <form class="relation-form" th:action="@{/relation}" method="post">
            <label for="email">Chercher une relation</label>

            <div class="relation-input-row">
                <input type="email" id="email" name="email" placeholder="Saisir une addresse mail" required />
                <button class="yellow-btn" type="submit">Ajouter</button>
                <p class="success-message" th:if="${success}" th:text="${success}"></p>
            </div>
        </form>
    </body>
</html>