<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pay My Buddy - Relation</title>
    </head>
    <body>
        <topbar>
            <h1> Pay My Buddy</h1>
            <span>
                <a>Transférer</a>
                <a>Profil</a>
                <a>Ajouter relation</a>
                <a>Se déconnecter</a>
            </span>            
        </topbar>
        <div>
            <h1>Chercher une relation</h1>
            <div>
                <input type="email" id="email" pattern="Mail" size="30" required />
                <button>Ajouter</button>
            </div>
        </div>
    </body>
</html>