<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pay My Buddy - Inscription</title>
    </head>
    <body>
        <topbar>
            <h1> Pay My Buddy</h1>
            <span>
                <a>Transférer</a>
                <a>Profil</a>
                <a>Ajouter relation</a>
                <a>Se déconnecter</a>
            </span>            
        </topbar>
            <form th:action="@{/transfert}" method="post">
                <select name="connectedUserId" id="select-relation">
                    <option value="">Sélectionner une relation</option>
                    <option th:each="relation : ${relations}" th:value="${relation.connectedUserId}" th:text="${relation.username}"></option>
                </select>
                <input type="text" id="description" name="description" placeholder="Description" required />
                <input type="number" name="amount" min="1" step="1" value="0" />
                <button type="submit">Payer</button>
            </form> 
            <div class="transaction-container">
                <h2>Mes transactions</h2>
                <div class="transaction-container-title">
                    <h2>Relation</h2>
                    <h2>Description</h2>
                    <h2>Montant</h2>
                </div>
                <div th:each="transaction : ${transactions}" class="transaction-row">
                    <p th:text="${transaction.receiver.username}"></p>
                    <p th:text="${transaction.description}"></p>
                    <pth:text="${transaction.amount + '€'}"></p>
                </div>
            </div>                           
    </body>
</html>